<navbar></navbar>

<div class="container">
    <alert></alert>



    <div class="col-md-12">
        <div *ngIf="cardsCanBeAdded" class="col-md-6">

                <h1>Voeg een kaart toe</h1>
                <label>Omschrijving<br><input id="description" type="text" #cardDescription
                                              class="form-control"></label><br>
                <button id="submit" (click)="submitCard(cardDescription.value)" class="btn btn-default">
                    Voeg toe
                </button>

        </div>

        <div class="col-md-6" *ngIf="isOrganiser">
            <select name="isPersonal" #isPersonal  (change)="setPersonal(isPersonal.value)" class="form-control">
                <option value="session">session</option>
                <option value="personal">personal</option>
            </select>
            <br><button class="btn btn-primary btn-block" (click)="updateSessionCards(isPersonal.value)">SAVE CARDS</button>
        </div>
        <div class="col-md-6" *ngIf="!isOrganiser">
            <button class="btn btn-primary btn-block" (click)="updateSessionCards(false)">SAVE CARDS</button>
        </div>

    </div>

    <div class="col-md-6">
        <h3>Possible cards of theme</h3>
        <div class="panel panel-default " style="margin-bottom: 7px" *ngFor="let card of cards">
            <div class="panel-body" style="padding: 0px">
                <div class="col-md-10">
                    <h4 style="margin-top: 7px; margin-bottom: 7px">{{card.description}}</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" (click)="selectCard(card)"><strong>></strong></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Selected cards for session</h3>
        <div class="panel panel-default" style="margin-bottom: 7px" *ngFor="let card of sessionCards">
            <div class="panel-body" style="padding: 0px">
                <div class="col-md-10">
                    <h4 style="margin-top: 7px; margin-bottom: 7px">{{card.description}}</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger" (click)="deleteCard(card)"><strong>X</strong></button>
                </div>
            </div>
        </div>
    </div>


</div>