<navbar></navbar>
<div class="container" aria-readonly="true">
    <div class="col-md-8 col-md-offset-2" *ngIf="isOrganiser">
        <h2>Theme: </h2>
        <label>Name<br><input id="title" type="text" [(ngModel)]="theme.title" class="form-control"></label><br>
        <label>Description<br><input id="description" type="text" [(ngModel)]="theme.description" class="form-control"></label><br>
        <label>Tags<br>
            <tag-input style="height: auto !important; padding: 0 !important;" [(ngModel)]="theme.tags"
                       separatorKeys="[32]" placeholder="Add another tag" [validators]="validators"
                       [errorMessages]="errorMessages" [theme]="'minimal'" name="tags" class="form-control"></tag-input>
        </label><br>
        <label><input id="public" type="checkbox" [(ngModel)]="theme.publicAccess">Public</label><br>
        <button id="save" (click)="saveTheme()" class="btn btn-success">SAVE</button>
        <button id="delete" (click)="deleteTheme()" class="btn btn-danger">DELETE</button>

        <div class="row">
            <hr>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2" *ngIf="!isOrganiser">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2><strong>{{theme.title}}</strong></h2>
                <hr>
                <h4>{{theme.description}}</h4>
                <h4>Tags: <span class="text-muted">{{theme.tags}}</span> </h4>
            </div>
        </div>
    </div>


</div>

