<navbar></navbar>
<div id="containment-wrapper">

<div class="container" >
  <div class="col-md-12">
    <h1>{{session?.title}}</h1>
    <h3>{{session?.description}}</h3>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Add cards</h4>
        <div class="card-list">
          <div class="card-list-item card-item" *ngFor="let card of cardsOutOfPlay" (click)="selectCard(card)">
            <span>{{card.listNumber}}</span>
          </div>
        </div>
        <div class="card-description" *ngIf="selectedCard">
          <p><b>Description</b><br>{{selectedCard.description}}</p>
          <button *ngIf="selectedCard.priority === 0
                    && !isCircleFilled
                    && turnHolder === userId && false"
                  class="btn btn-success btn-big"
                  (click)="addToCircle(selectedCard, true)">ADD TO CIRCLE
          </button>
          <!--&& isCircleFilled-->
          <button *ngIf="(selectedCard.priority <= 4
                    && selectedCard.priority >= 0)
                    && turnHolder === userId"
                  class="btn btn-primary btn-big"
                  (click)="increasePriority(selectedCard, true)">INCREASE PRIORITY
          </button>
        </div>
        <!--&& isCircleFilled-->
        <button class="btn btn-danger btn-end-session btn-big"
                *ngIf="userId === session?.creator"
                data-toggle="modal"
                data-target="#myConfirm">END SESSION
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="circle-container">
      <div class="circle" id="circle-5"
           [class.opportunity]="session?.circleType == 'opportunity'"
           [class.threat]="session?.circleType == 'threat'">
        <div *ngFor="let card of circleFive;"
             [class]="'card-item circle-item ' + card.circlePosition"
             (click)="selectCard(card)">
          <span>{{card.listNumber}}</span>
        </div>
        <div class="circle" id="circle-4"
             [class.opportunity]="session?.circleType == 'opportunity'"
             [class.threat]="session?.circleType == 'threat'">
          <div *ngFor="let card of circleFour;"
               [class]="'card-item circle-item ' + card.circlePosition"
               (click)="selectCard(card)">
            <span>{{card.listNumber}}</span>
          </div>
          <div class="circle" id="circle-3"
               [class.opportunity]="session?.circleType == 'opportunity'"
               [class.threat]="session?.circleType == 'threat'">
            <div *ngFor="let card of circleThree;"
                 [class]="'card-item circle-item ' + card.circlePosition"
                 (click)="selectCard(card)">
              <span>{{card.listNumber}}</span>
            </div>
            <div class="circle" id="circle-2"
                 [class.opportunity]="session?.circleType == 'opportunity'"
                 [class.threat]="session?.circleType == 'threat'">
              <div *ngFor="let card of circleTwo;"
                   [class]="'card-item circle-item ' + card.circlePosition"
                   (click)="selectCard(card)">
                <span>{{card.listNumber}}</span>
              </div>
              <div class="circle" id="circle-1"
                   [class.opportunity]="session?.circleType == 'opportunity'"
                   [class.threat]="session?.circleType == 'threat'">
                <div *ngFor="let card of circleOne; let i = index"
                     [class]="'card-item circle-item ' + 'inner-item-' + i"
                     data-toggle="modal"
                     data-target="#myModal"
                     (click)="selectCard(card)">
                  <span>{{card.listNumber}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Top cards</h4>
        </div>
        <div class="modal-body">
          <div class="modal-card-container">
            <div *ngFor="let card of circleOne"
                 class="card-item circle-item modal-item"
                 (click)="selectCard(card)">
              <span>{{card.listNumber}}</span>
            </div>
          </div>
          <div class="card-description" *ngIf="selectedCard">
            <p><b>Description</b><br>{{selectedCard.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myConfirm" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you wish to end the session?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="endSession()">End session</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <chat style="z-index: 999; position: absolute; cursor: pointer; display: inline-block; max-width: 443px; width: 443px !important;" id="drag"></chat>
</div>
