<navbar></navbar>
<div class="card-list">
    <div class="card-list-item" *ngFor="let card of cards" (click)="onClick(card, 0)">
        {{card.description}}
    </div>
</div>
<div *ngIf="selectedCard">
    <div>Description: {{selectedCard.description}}</div>
    <div>Priority: {{selectedCard.priority}}</div>
    <button *ngIf="selectedCard.priority != 1" (click)="increasePriority(selectedCard)">INCREASE PRIORITY</button>
</div>
<div class="circle-container">
    <div class="circle" id="circle-5">
        <div *ngFor="let card of circleFive; let i = index;" [class]="'circle-item item-' + i"
             (click)="onClick(card)">
            {{card.description}}
        </div>
        <div class="circle" id="circle-4">
            <div *ngFor="let card of circleFour; let i = index;" [class]="'circle-item item-' + i"
                 (click)="onClick(card)">
                {{card.description}}
            </div>
            <div class="circle" id="circle-3">
                <div *ngFor="let card of circleThree; let i = index;" [class]="'circle-item item-' + i"
                     (click)="onClick(card)">
                    {{card.description}}
                </div>
                <div class="circle" id="circle-2">
                    <div *ngFor="let card of circleTwo; let i = index;" [class]="'circle-item item-' + i"
                         (click)="onClick(card)">
                        {{card.description}}
                    </div>
                    <div class="circle" id="circle-1">
                        <div *ngFor="let card of circleOne">
                            {{card.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>