.circle-container {
    position: relative;
    width: 50%;
}

.circle {
    border-radius: 50%;
    border: 10px solid #3F9FD7;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#circle-1 {
    width: 10vh;
    height: 10vh;
    transform: translateY(32%);
}

#circle-2 {
    width: 20vh;
    height: 20vh;
    transform: translateY(15%);
}

#circle-3 {
    width: 30vh;
    height: 30vh;
    transform: translateY(11%);
}

#circle-4 {
    width: 40vh;
    height: 40vh;
    transform: translateY(8.5%);
}

#circle-5 {
    width: 50vh;
    height: 50vh;
}

.card-list {
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.resize {
    width: 10%;
}