.circle {
    border-radius: 50%;
    border: 5px solid blue;
}

.circle-container {
    width: 25%;
}

#circle-1 {
    width: 20%;
    padding-bottom: 20%;
    margin-bottom: 100px;
}

#circle-2 {
    width: 40%;
    padding-bottom: 40%;
}

#circle-3 {
    width: 60%;
    padding-bottom: 60%;
}

#circle-4 {
    width: 80%;
    padding-bottom: 80%;
}

#circle-5 {
    width: 100%;
    padding-bottom: 100%;
}
