<button [routerLink]="['/theme']"
        class="row btn-success">
    Create a new theme
</button>

<div *ngFor="let theme of themes" class="row">
    <div [routerLink]="['/theme', theme.id]"
         class="col-md-6">
        {{theme.name}}
        <span class="label label-default">
            {{theme.tags}}
        </span>
        <span *ngIf="theme.created"
                class="label label-default">
            {{theme.created}}
        </span>
    </div>

    <div class="col-md-6">
        <button (click)="deleteTheme(theme)"
                class="btn-danger">
            Remove
        </button>
    </div>
</div>
